@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/nitro-portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}

/* estilos barra de navegación */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.p-index{
  color: #4fb6cfa9;
}
.carri {
  margin-left: 1000px;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(190, 46, 46);
}

.topnav a.active {
    background-color: #88913865;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.title {
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

/* estilos del card */
.container {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card {
    width: 330px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    background-color: #7ff0f06c;
    padding: 5px;
}

.container .card img {
    width: 300px;
    height: 340px;
    margin-top: 10px;
    
}

.container .card h4 {
    font-weight: 600;
    margin: 8px auto;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    margin: 8px auto;
    
}

.container .card .boton {
    font-weight: 500;
    text-decoration: none;
    color: white;
    background-color: #e77dbf88;
    padding: 7px 22px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

/* estilos de ventana Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 50px auto;
    padding: 0;
    border: 1px solid #888;
    width: 600px;
    max-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 2px 16px;
    background-color: #ccc;
    overflow-y: auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.contenedor-producto {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 130;
    background-color: #ffffff;
    margin: 5px 0;
}

.eliminar-producto {
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 50%;
    padding: 3px;
    color: red;
    transition: 0.5s;
    font-size: 10px;
}

.eliminar-producto:hover {
    color: white;
    background-color: red;
}
.lista-footer li {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    row-gap: 20px;
    text-decoration: none;
    color: darkorange;
  }
  .social {
    width: 45px;
    margin-left: 0px;
  }
  .img {
    margin-top: 20px;
  }
  .contacto-footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: #f5f5f5;
    margin-top: 370%;
  
  }
  .footer {
    height: 350px;
    line-height: 50px;
    background: rgba(31, 20, 20, 0.973);
    color: white;
    text-align: center;
    position: absolute;
    bottom: -100px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: #141313;
      
  }
  .relleno-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    color: aliceblue;
    font-weight: 600px;
    margin-left: 5px;
  }
  .mapa {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 140px;
  }
  .h3 {
    font-size: 40px;
    margin-left: -150px;
  }
  .h4 {
    color: darkorange;
    font-weight: 600px;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 40px;
  }
  .datos {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -300px;
  }
  .datos-mail {
    margin-top: -90px;
    margin-left: -280px;
  }
  .contenedor-datos {
    gap: 15px;
  }
  .domicilio {
    margin-top: 90px;
    margin-left: 120px;
  }
  .btncontacto{
    border-radius: 25px;
    padding: 15px;
    margin-left: 10px;
  }

  /* ***********************CONTACTOS****************************** */

  @media only screen and (min-width: 320px) and (max-width: 650px) {
    .body-nosotros {
      height: 95%;
      font-family: "Noto Sans", sans-serif;
      width: 100%;
      background-color: rgba(255, 140, 0, 0.644);
    }
    .nosotros-form {
      display: none;
    }
    
    .contacto_form {
      width: 360px;
      height: auto;
      margin: 80px auto;
      border-radius: 10px;
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: #fbfbfb;
      padding-left: 30px;
    }
  
    .input-nosotros {
      background-color: #fbfbfb;
      width: 408px;
      height: 40px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      
    }
  
    .texto_mensaje {
      background-color: #fbfbfb;
      width: 305px;
      height: 150px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 20px;
      padding-left: 0px;
      margin-bottom: 60px;
      padding-top: 5px;
      padding-bottom: 40px;
    }
  
    label {
      display: block;
      float: center;
      padding: 10px;
    }
  
    .boton-nos {
      height: 25px;
      padding-left: 5px;
      padding-right: px;
      padding-top: 5px;
      margin-bottom: 20px;
      margin-top: 50px;
      text-transform: uppercase;
      background-color: white;
      border-color: darkorange;
      border-style: solid;
      border-radius: 5px;
      width: 180px;
      cursor: pointer;
    }
  
    .obligatorio-nosotros {
      color: darkorange;
    }
  
    .aviso-nosotros {
      font-size: 13px;
      color: #0e0e0e;
      margin-left: 340px;
    }
  
    h1 {
      font-size: 30px;
      text-align: letf;
      padding-bottom: 30px;
      color: darkorange;
      margin-left: 10px;
    }
  
    .h2-nos {
      font-size: 16px;
      padding-bottom: 30px;
  
      color: #0e0e0e;
    }
  
    .p-nos {
      font-size: 14px;
      color: #0e0e0e;
    }
  }
  
  @media only screen and (min-width: 651px) and (max-width: 1199px) {
    .body-nosotros {
      height: 95%;
      font-family: "Noto Sans", sans-serif;
      width: 100%;
      background-color: rgba(255, 140, 0, 0.705);
    }
    .nosotros-form {
      display: flex;
      margin-left: 200px;
      margin-top: -50px;
      margin-top: 20px;
    }
    .list-nav-nosotros li {
      margin-top: 10%;
      display: flex;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 5px;
      align-self: center;
      text-align: center;
      font-size: 15px;
    }
    .contacto_form {
      width: 96%;
      height: auto;
      margin: 80px auto;
      border-radius: 10px;
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: #fbfbfb;
      padding-left: 30px;
    }
  
    .input-nosotros {
      background-color: #fbfbfb;
      width: 408px;
      height: 40px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: (1 1fr);
      grid-template-rows: 2 2fr;
    }
  
    .texto_mensaje {
      background-color: #fbfbfb;
      width: 305px;
      height: 150px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 0px;
      padding-left: 30px;
      margin-bottom: 60px;
      padding-top: 45px;
      padding-bottom: 30px;
    }
  
    label {
      display: block;
      float: center;
      padding: 5px;
    }
  
    .boton-nos {
      height: 25px;
      padding-left: px;
      padding-right: px;
      padding-top: 5px;
      margin-bottom: 20px;
      margin-top: 50px;
      text-transform: uppercase;
      background-color: white;
      border-color: darkorange;
      border-style: solid;
      border-radius: 5px;
      width: 100px;
      cursor: pointer;
    }
  
    .obligatorio-nosotros {
      color: darkorange;
    }
  
    .aviso-nosotros {
      font-size: 13px;
      color: #0e0e0e;
      margin-left: 340px;
    }
  
    h1 {
      font-size: 50px;
      text-align: letf;
      padding-bottom: 30px;
      color: darkorange;
      margin-left: 10px;
    }
  
    .h2-nos {
      font-size: 25px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: #0e0e0e;
    }
  
    .p-nos {
      font-size: 16px;
      color: #0e0e0e;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .body-nosotros {
      height: 95%;
      font-family: "Noto Sans", sans-serif;
      width: 100%;
      background-color: rgba(255, 140, 0, 0.705);
    }
    .title{
      color: #29d5db94;
      font-size: 600;
    }
    .nosotros-form {
      display: flex;
      margin-left: 900px;
      margin-top: -50px;
    }
    .list-nav-nosotros li {
      margin-top: 10%;
      display: flex;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 5px;
      align-self: center;
      text-align: center;
      font-size: 15px;
    }
    .contacto_form {
      width: 96%;
      height: auto;
      margin: 80px auto;
      border-radius: 10px;
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: #fbfbfb;
      padding-left: 30px;
    }
  
    .imput-nosotros {
      background-color: #fbfbfb;
      width: 408px;
      height: 40px;
      border-radius: 15px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 10px;
      padding-left: 10px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: (1 1fr);
      grid-template-rows: 2 2fr;
      padding: 5px;
    }
  
    .texto_mensaje {
      background-color: #fbfbfb;
      width: 305px;
      height: 150px;
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: darkorange;
      margin-top: 0px;
      padding-left: 30px;
      margin-bottom: 60px;
      padding-top: 45px;
      padding-bottom: 30px;
    }
  
    label {
      display: block;
      float: center;
      padding: 10px;
    }
  
    .boton-nos {
      height: 25px;
      padding-left: px;
      padding-right: px;
      padding-top: 5px;
      margin-bottom: 20px;
      margin-top: 50px;
      text-transform: uppercase;
      background-color: white;
      border-color: darkorange;
      border-style: solid;
      border-radius: 5px;
      width: 100px;
      cursor: pointer;
    }
  
    .obligatorio-nosotros {
      color: darkorange;
    }
  
    .aviso-nosotros {
      font-size: 13px;
      color: #0e0e0e;
      margin-left: 340px;
    }
  
    h1 {
      font-size: 50px;
      text-align: letf;
      padding-bottom: 30px;
      color: rgba(0, 195, 255, 0.603);
      margin-left: 10px;
      text-decoration: none;
    }
  
    .h2-nos {
      font-size: 25px;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      color: #0e0e0e;
    }
  
    .p-nos {
      font-size: 16px;
      color: hsl(0, 0%, 5%);
      margin-top:-5px;
    }
  }

  /* ******************************Nosotros***************** */
  .familia {
    display: flex;
    height: 100px;
    width: 500px;
  margin-left: 300px;
   
    color: #333;
  }
  
  .textt {
    margin: 200px;
  }
  h1 a {
    text-decoration: none;
    color: rgba(18, 185, 236, 0.767);
  }
  /* ******************* popup¨******** */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(21, 174, 185, 0.5);
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .popup h2 {
    margin-top: 0;
  }
  
  .popup input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
  }
  
  .popup button {
    display: block;
    margin-top: 10px;
  }
  .loginbtn{
    
    background-color: #5cb5b8b9;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    
    
  }
  .signupbtn{
    background-color: #5cb5b8b9;
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
  }